body {
    background-color: bisque;
}

h2 {
    text-align: center;
    font-weight: bold;
}

a {
    
    text-decoration: underline;
    color: green;
    margin: 0 10px;
    cursor: pointer;
    
}
footer {
    text-align: center;
    display: block;
}

.croissant {
    max-width: 100%;;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

p {
    text-align: center;
}